*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
/*<----------------- NAVBAR Y BANNER ----------------->*/
.navbar{
    display: flex;
    align-items: center;
}
.collapse{
    display: flex;
    align-items: center;
}
.nav-link{
    color: #fff;
    transition: 0.3s;
}
.nav-link:hover{
    color: rgb(255, 185, 100);
}
.banner-image{
    background-image: url("/assets/img/principal/pexels-kxrz-2664149.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;
}
.banner-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0 , 0 , 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.banner-text{
    text-align: center;
}
.banner-text h1{
    color: #fff;
    font-size: 45px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 15px;
}
.banner-text h3{
    color: #fff;
    font-size: 30px;
    text-align: unset;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 15px;
}
.banner-btn-sub {
    text-align: center;
    padding-top: 10px;
}
.btn-sub {
    display: inline-block;
    padding: 10px 20px;
    background-color: #a71027;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.btn-sub:hover {
    background-color: #7d212e;
}
.navBar-fondo{
    background-color: #5e2129;
}
.navbar-brand{
    font-size: 25px;
    font-weight: 600;
}
/*<----------------- MAIN ----------------->*/
.main{
    height: auto;
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:antiquewhite;
}
.mas-vendidos{
    margin-bottom: 30px;
}
.card-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
@media (max-width: 767px) {
    .card-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
}
.card {
    width: 320px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #5d0712;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
}
.card-img {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}
.card-content {
    padding: 20px;
}
.card-title {
    margin: 0 0 10px;
    font-size: 20px;
}
.card-subtitle {
    margin: 0 0 15px;
    font-size: 16px;
    color: #fff;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: bisque;
    color: #5d0712;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.btn:hover {
    background-color: rgb(255, 185, 100);
    color: #5d0712;
}
.title-mas-vendidos h3, .title-lista-vinos h3{
    text-align: center;
    font-size: 35px;
    color: #5d0712;
}

.Productos-lista{
    margin-top: 30px;
    margin-bottom: 30px;
}
.nav-pages{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav {
    padding: 10px;
}  
ul.pagination {
    list-style-type: none;
    margin: 0;
    padding: 0;
}  
ul.pagination li.page-item {
    display: inline-block;
    margin-right: 5px;
}  
ul.pagination li.page-item.active .page-link {
    background-color: #5d0712;
    color: bisque;
    border-color: #5d0712;
}  
ul.pagination li.page-item:not(.active) .page-link {
    color: #5d0712;
    border-color: #5d0712;
    background-color: antiquewhite;
    transition: 0.3s;
}  
ul.pagination li.page-item:not(.active) .page-link:hover {
    background-color: bisque;
}
.list-vinos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
/*<----------------- FOOTER ----------------->*/
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    background-color: black;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-top: 40px;

}
.footer p{
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
}
.constainer-redes{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    margin-bottom: 25px;
}
.constainer-redes a{
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bi{
    height: 35px;
    width: 35px;
    color: #fff;
    transition: 0.3s;
}
.bi:hover{
    color: #a71027;
}
.container-telefonos{
    display: flex;
    align-items: center;
    padding: 0;
    margin-bottom: 10px;
}
.container-telefonos h4{
    margin-left: 5px;
    margin-right: 5px;
}
.container-links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 15px;
}
.container-links a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.2s;
}
.container-links a:hover{
    color:#a71027
}
.container-reservados{
    text-align: center;
    font-size: 20px;
}
@media (max-width: 767px) {
    .container-links{
        flex-direction: column;
    }
    .gion{
        display: none;
    }
    .container-telefonos{
        flex-direction: column;
    }
    .container-reservados{
        margin-bottom: 20px;
    }
}



  